*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right,#244ea6,#6d28d9,#6366f1);
    background-position: center;
}

.mobile-layout{
    min-height: 100vh;
    width: 400px;
    display: grid;
    
}
.set-to-click{
    position: relative;
    height: inherit;
    place-content: center;
    

}
.set-to-click #welcome{
    padding-left: 15%;
    font-size: 55px;
    color: azure;
    
}
.set-to-click #click{
    font-size: medium;
    color: rgba(240, 255, 255, 0.688);
    padding-left: 36%;

}